* {
  padding: 0px;
  margin: 0px;
}
body{
  font-family: 'Work Sans', sans-serif;
  color: #2b0f30;
  background-color: hsl(279, 100%, 97%);
  overflow-x: hidden;
  position:relative
}



.backgroundImage{
  width: 100vw;
  object-fit: contain;
}